[user]
	name = Alex Trotta
	email = ahajha@gmail.com
[branch "main"]
	pushRemote = NOPE
[init]
	defaultBranch = main
[pile]
	cleanupRemoteOnSubmitFailure = true
[pull]
	rebase = true
[alias]
	co = checkout
	cp = cherry-pick
	cpr = "!git cherry-pick $1 && git submitpr"
	cprm = "!git cherry-pick $1 && git submitpr --merge-squash"
	pom = push origin main
	pr = submitpr
	prm = submitpr --merge-squash
[rerere]
	enabled = true
	autoupdate = true
[advice]
	skippedCherryPicks = false
