[user]
	name = Alex Trotta
	email = ahajha@gmail.com
[branch "main"]
	pushRemote = NOPE
[init]
	defaultBranch = main
[pile]
	cleanupRemoteOnSubmitFailure = true
[pull]
	rebase = true
[alias]
	pr = submitpr
	prm = submitpr --merge-squash
